:root {
    --font-lato: "Lato", sans-serif;
    --font-ninito: "Nunito Sans", sans-serif;

    --gradient: linear-gradient(90deg, #ff323f 0%, #ff37e4 100%);
    --light: #ffff;
    --light-grey:  #E9E9E9;
}
body {
    font-family: var(--font-lato);
    font-size: 16px;
  
}
a {
    text-decoration: none;
    color: inherit;
} 
.main {
    color: var(--light);
    background-image: url(../images/bg-main.png)

}
.container1 {
    margin-left: 150px;
    margin-right: 170px;
}
.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
 }
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    padding: 15px 25px;
    box-sizing: border-box;
    background-color: var(--light);
    border-radius: 16px;
    margin: 0 auto;
    
}
.logo {
    display: block;
    width: 105px;
    height: 30px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
nav {
    display: flex;
    gap: 40px;
    color: #333;
}
.btn-accent {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 20px 18px;
    font-family: var(--font-ninito);
    font-weight: 900;
    background: var(--gradient);
    border-radius: 10px;
    color: var(--light);
    width: fit-content;

}
.btn-accent::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-image: url(../images/btn-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.badge {
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 13px 15px; 
      border: 1px solid var(--light);
      border-radius: 8px;
      font-family: var(--font-ninito);
      font-size: 12px;
      width: fit-content;
}
.badge::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-image: url(../images/icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.title-h1 {
    font-family: var(--font-ninito);
    font-size: 75px;
    font-weight: 700;
    line-height: 1.2; /* 120% */
}
.title-h2 {
    font-family: var(--font-ninito);
    font-weight: 400;
    line-height: 26px;
}
.description {
    line-height: 1.6; /* 160% */
    color: var(--light-grey)
}

/* Hero */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-small {
    font-family: var(--font-ninito);
    font-size: 12px; 
  
    color: var(--light-grey)
    m
}
.brends {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 30px 55px;
}
.description-hero {
    max-width: 556px;
}

